<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>
 
      <div class="jumbotron">
        <h1>List of Stocks</h1>
        <form class="form-createPortfolio" action="/addBonds" method="post">
          {% for stock in data %}
            <ul class="stock">
              <li> 
                {{ stock['Name'] }} 
              </li>
              <li> 
                {{ stock['Code'] }} 
              </li>
              <li> 
                <input type="radio" name="{{stock[StockID']}}" id="stock" value="{{stock['StockID']}}"> </input>
              </li>
            </ul>
          {% endfor %}
        
          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>