{% extends "index.html" %}
{% block h %}{% endblock %}
{% block body %}
  <head>
    <title>Add Stocks</title>


    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <link href="/static/css/addStocks.css" rel="stylesheet">

  </head>

  <body>
    <section div="sectionaddsto">

      <div class="container">

        <div class="jumbotron">
          <h1>List of Stocks</h1>
          <form class="form-addStocks" action="/addStocks" method="post">
            <table>
              <tr>
                <th> Name</th>
                <th> Code </th>
                <th> Select </th>
              </tr>
            {% for stock in data %}
              <tr>
                <td>
                  {% print(stock[2]) %}
                </td>
                <td>
                  {% print(stock[1]) %}
                </td>
                <td>
                    <input type="radio" name={%print(stock[0])%} id="stock"> </input>
                </td>
              </tr>
            {% endfor %}
          </table>

            <button id="addStockss" class="btn btn-lg btn-primary btn-block" type="submit"> Add </button>
          </form>
        </div>
      </div>

    </section>
  </body>
{% endblock %}
