{% extends "index.html" %}
{% block h %}{% endblock %}
{% block fr %}Log out {% endblock %}
{% block fra %}{% endblock %}
{% block body %}
  <head>
    <link href="/static/css/updatePortfolio.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <div class="jumbotron">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Risk
            </th>
            <th>
              Amount
            </th>
            <th>
              Stocks
            </th>
          </tr>
          <tr>
            <td>
              {% print(portfolioName) %}
            </td>
            <td>
              {% print(portfolioRisk) %}
            </td>
            <td>
              {% print(portfolioAmount) %}
            </td>
            <td>
                <table>
                  <tr>
                    <th> Stock Name</th>
                    <th> Code </th>
                    <th> Weight </th>
                  </tr>
                {% for each in stocks %}
                  <tr>
                    <td>
                      {% print(each[1]) %}
                    </td>
                    <td>
                      {% print(each[2]) %}
                    </td>
                    <td>
                      {% print(each[0]) %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
{% endblock %}
