<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
 
    
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/Login_v18/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/Login_v18/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/Login_v18/css/main.css">

    <script type="text/javascript" src="../static/js/jQuery.js"></script>
    <script type="text/javascript" src="../static/js/signUp.js"></script>
    
  </head>
 
  <body>
 
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

		      <div class="login100-form validate-form">
		        <span class="login100-form-title p-b-43">
					<h3>Join us </h3>
				</span>

		        <form class="form-signin">
			        <div class="wrap-input100 validate-input" data-validate = "Name is required">
				        <span class="focus-input100"></span>
				        <label for="inputName" class="label-input100">Name</label>
				        <input type="name" name="inputName" class="input100"  required autofocus>
				    </div>
				    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
				        <span class="focus-input100"></span>
				        <label for="inputEmail" class="label-input100">Email address</label>
				        <input type="email" name="inputEmail" class="input100"  required autofocus>
				    </div>
				    <div class="wrap-input100 validate-input" data-validate="Password is required">
				        <span class="focus-input100"></span>
				        <label for="inputPassword" class="label-input100">Password</label>
				        <input type="password" name="inputPassword" class="input100"  required autofocus>
				    </div>     
				    <button id="btnSignUp" class="login100-form-btn" type="button">Sign up</button>
		      	</form>

		      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>