{% extends "index.html" %}
{% block h %}{% endblock %}
{% block fr %}Log out {% endblock %}
{% block fra %}{% endblock %}

{% block body %}
  <head>
  <link href="/static/css/updatePortfolio.css" rel="stylesheet">
  <script src="../static/js/jquery-1.11.2.js"></script>
  </head>

  <body class="bodi">
  <div class="gdiv">
    <div class="jumbotron">
      <table>
        <tr>
          <th>
            <strong>Field</strong>
          </th>
          <th>
            <strong>old value</strong>
          </th>
          <th>
            <strong>new value</strong>
          </th>
        </tr>
        <tr>
          <td>
            Portfolio Name
          </td>
          <td>
            {% print(portfolioName) %}
          </td>
          <td>
            <form class="form-newname" action="/updateName" method="post">
              <input type="text" name="newName" id="newName"> </input>
              <button id="newName"  type="submit"> Modifier </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Portfolio Risk</td>
          <td>
            {% print(portfolioRisk) %}
          </td>
          <td>
            <form class="form-newrisk" action="/updateRisk" method="post">
              <input type="text" name="newRisk" id="newRisk"> </input>
              <button id="newRisk" type="submit"> Modifier </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Portfolio Amount</td>
          <td>
            old value
            {% print(portfolioAmount) %}
          </td>
          <td>
            <form class="form-newamount" action="/updateAmount" method="post">
              <input type="text" name="newAmount" id="newAmount"> </input>
              <button id="newAmount" type="submit"> Modifier </button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Stocks</td>
          <td>
              <table id="table2">
                <tr id="trtable2">
                  <th id="table2th1"> Name</th>
                  <th id="table2th1"> Code </th>
                  <th id="table2th1"> Weight </th>
                </tr>
              {% for each in stocks %}
                <tr>
                  <td>
                    {% print(each[1]) %}
                  </td>
                  <td>
                    {% print(each[2]) %}
                  </td>
                  <td>
                    {% print(each[0]) %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </td>
            <td>
              <form class="form-newstocks" action="/changeStocks" method="post">
                <button id="newStocks" type="submit"> Modifier </button>
              </form>
            </td>
          </tr>
        </table>
      </div>
  </div>
</body>
{% endblock %}
