{% extends "index.html" %}
{% block h %}{% endblock %}
{% block body %}
  <head>
    <title>Add Stocks</title>


    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/Portfolio.js"></script>
    <link href="/static/css/addStocks.css" rel="stylesheet">

  </head>

  <body>
    <section div="sectionaddsto">

      <div class="container">

        <div class="jumbotron">
          <h1>List of Portfolios</h1>
          <table>
            <tr>
              <th> Name</th>
              <th> Amount </th>
              <th> Horizon </th>
              <th> Risk repartition </th>
              <th> Delete </th>
              <th> Update </th>
            </tr>
            {% for portfolio in data %}
              <tr>
                <td>
                  {% print(portfolio[4]) %}
                </td>
                <td>
                  {% print(portfolio[1]) %}
                </td>
                <td>
                  {% print(portfolio[2]) %}
                </td>
                <td>
                  {% print(portfolio[5]) %}
                </td>
                <td>
                  <form class="form-createPortfolio" action="/deletePortfolio" method="post">
                    <input ntype=hidden value="{{ portfolio[0] }}" name="inputPortfolioToDelete"></input>
                    <button id="btnDelete" class="btn btn-lg btn-primary btn-block" type="submit"> Delete </button>
                  </form>
                </td>
                <td>
                  <input type = "button" onclick = "updatePortfolio(stock[0])" value ="Update"/>
                  
                </td>

              </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </section>
  </body>
{% endblock %}
