{% extends "index.html" %}
{% block h %}{% endblock %}
{% block body %}
{% block fr %}Log out {% endblock %}
{% block fra %}{% endblock %}
  <head>
    <title>Add Stocks</title>


    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/Portfolio.js"></script>
    <link href="/static/css/userHome.css" rel="stylesheet">

  </head>

  <body class="bodi">
    <section div="sectionaddsto">
      <div class="container">
        <div class="jumbotron">
          <h1>List of Portfolios</h1>
          <hr id="Separe">
          <table>
            <tr>
              <th> Name</th>
              <th> Amount </th>
              <th> Horizon </th>
              <th> Risk repartition </th>
              <th> Delete </th>
              <th> Update </th>
            </tr>
            {% for portfolio in data %}
              <tr>
                <td>
                  <form class="form-showPortfolio" action="/showPortfolio" method="post">
                    <input type=hidden value="{{ portfolio[0] }}" name="inputPortfolioToShow"></input>
                    <button id="btnShow" class="btn btn-lg btn-primary btn-block" type="submit"> {% print(portfolio[4]) %} </button>
                  </form>
                </td>
                <td>
                  {% print(portfolio[1]) %}
                </td>
                <td>
                  {% print(portfolio[2]) %}
                </td>
                <td>
                  {% print(portfolio[5]) %}
                </td>
                <td>
                  <form class="form-deleteportfolio" action="/deletePortfolio" method="post">
                    <input type=hidden value="{{ portfolio[0] }}" name="inputPortfolioToDelete"></input>
                    <button id="btnDelete" class="btn btn-lg btn-primary btn-block" type="submit"> Delete </button>
                  </form>
                </td>
                <td>
                  <form class="form-updatePortfolio" action="/showUpdatePortfolio" method="post">
                    <input type=hidden value="{{ portfolio[0] }}" name="inputPortfolioToUpdate"></input>
                    <button id="btUpdate" class="btn btn-lg btn-primary btn-block" type="submit"> Update </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
            <a class="btn btn-lg btn-primary btn-block" id = "create" href="/showCreatePortfolio">Create</a>
        </div>
      </div>

    </section>
  </body>
{% endblock %}
