#about
{
  /*background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 800px 600px;*/
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;


}
#textdiv1{
  /*margin-right: 500px;
  margin-top: 300px;
  float: left;*/
  display:inline-block;
  text-align: justify;
  padding: 10px;
  border: 1px hidden #F0FFF0;
  text-decoration-style: dashed;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;

}
#textdiv2{
  /*margin-left: 500px;
  float:right;
  display:inline-block;*/
  margin-top: 50px;
  border: 1px hidden #F0FFF0;
  border-style:
  float:right;
  text-align: justify;
  text-decoration-style: dashed;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;


}
#get{
  margin-top: 50px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;

}
/#epm
{
  /*float: none;
  position: absolute;
  display: inline-block;
  text-align: center;
}*/
