.jumbotron
{

  padding-right:  10px;
  padding-left: 50px;
	border: 1px solid white;
  padding: 25px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
  margin-top: 350px;
	border-radius: 10px;
	border-color: Gainsboro;
  float: none;
  /*position: absolute;*/
  display: inline-block;
}
.bodi
{
  background-image: url("stocks2.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 620px;
}
#pied
{
  /*margin-top: 10px;*/
}

#btnSignIn
{
	border: 2px ;
	padding: 10px;
	margin-top: 20px;
	margin-left: 250px;
	border-radius: 20px;
	width: 200px;
	background-color: MidnightBlue;

}
h1, th
{
	border:1px;
	padding: 30px;
	text-align: center;
}

h1
{
	font-family: "Times New Roman", serif;

}
