.jumbotron
{

  padding: 25px;
  padding-right:  10px;
  padding-left: 100px;
  padding: 25px;
  /*margin: 100px;
  margin-left: 200px;
  margin-right: 300px;
  margin-bottom: 50px;
  margin-top: 100px;
	border-radius: 10px;*/
	/*border-color: Gainsboro;*/
  float: none;
  /*position: absolute;*/
  display: inline-block;
  border: 2px solid DarkOliveGreen;
  background-color: inherit;

}
.bodi
{
  background-image: url("userHome1.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 620px;
  float: left;

}

#Separe{
  max-width: 300px;
  text-align: center;
}

h1{
  border: 1px solid Gainsboro;
  text-transform: capitalize;
  font-family: "Poppins-Regular", serif;

}



#create
{
	padding: 10px;
	margin-top: 20px;
	/*margin-left: 250px;*/
	border-radius: 2px;
	max-width: 100px;
	background-color: DarkOliveGreen;
  text-align: center;
  font-family: "Poppins-Regular", serif;

}
h1, th
{
	border:1px;
	padding: 30px;
	text-align: center;
  font-family: "Poppins-Regular", serif;
}

hr{
  color: DarkOliveGreen;
  height: 5px;
}
