{% extends "index.html" %}
{% block h %}{% endblock %}
{% block body %}
  <head>
    <link href="static/css/about.css" rel="stylesheet">
  </head>

  <body id="aboutsec">
    <section  id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="wvg"><strong>We've got what you need!</strong></h2>
            <hr class="light my-4" id="hr1">
            <div id="textdiv1"> <h4 class="description1"> <strong> Energy Portfolio Management (EPM) </strong>is an investment decision support tool for people with no solid base in <strong>finance</strong> or the <strong >Energie</strong> sector!
              We offer the best assets of companies in the energy sector grouped in a portfolio that you create according to your needs.
            </h4></div>
            <div id="textdiv2"><h4 class="description2">Through our platform we guarantee you a considerable time saving. <strong>EPM</strong> plays the role of a portfolio management company or a stock market advisor, all based on data validated by professionals.
            The tool is open to all audiences, any financial analyst can also find its interest.
            </h4></div>
            <a class="btn btn-light btn-xl js-scroll-trigger" id="get" href="/showSignUp">Get Started!</a>
          </div>
        </div>
      </div>
    </section>
    <hr id="limitpage">
  </body>

{% endblock %}
